@import "components/reset";

/*==================/
  SETTINGS
/==================*/
@import "settings/variables";

/*==================/
  LIBRARY
/==================*/

//@import "lib/color";
@import "lib/accessibility";
@import "lib/breakpoint";
@import "lib/spacement";

/*==================/
  COMPONENT
/==================*/
@import "components/list";
@import "components/type";
@import "components/containers";


.div1, .div2{
  height: 100px;
  width: 100px;
  background-color: red;
  margin-bottom: space(1);
}