$color-primary: white;
$color-secondary: white;
$color-terciary: white;

$font-color: white;
$font-color-discreet: white;
$font-color-colored: white;

$input-font-color: white;
$input-placeholder-color: white;
