@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{font-family: 'Poppins', 'sans-serif';}

:root{
  @include media('<=phone'){
    --font-size: 12px;
  }
  @include media('>phone','<=tablet'){
    --font-size: 15px;
  }
  @include media('>tablet','<=desktop'){
    --font-size: 15px;
  }
  @include media('>desktop'){
    --font-size: 15px;
  }
}

html{
  font-size: var(--font-size);
}

@for $i from 1 through 4{

  h#{$i}{
    font-weight: bold;
    font-size: calc(3rem - (#{$i - 1} * .7rem) + 10px);

    &+.caption{
      font-size: calc(1.8rem - (#{$i - 1} * .2rem));
      margin-top: calc(-1em + 10px);
      color: rgb(0,0,0,.6);
      margin-bottom: .3em;
    }
  }
}

h1, h2, h3, h4, p{
  line-height: 1.5em;
}
